[Desktop Entry]
Type=Application
Exec=plank -n dock2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
#X-GNOME-Autostart-Delay=1
Name=Dock 2
